<section class="main-info">
  <div class="search-form">
    <h1>List of tasks</h1>
    <form action="/task" method="post">
      <input type="text" name="search" />
      <button class="button-10" type="submit">Search</button>
    </form>
  </div>
  <% if (taskList.length-completedTasks > 0) { %>
  <h3>Pending tasks: <%=taskList.length-completedTasks%></h3>
  <% } %>
  <div class="task-container">
    <% taskList.forEach(task => { %> <% if (task.state === "pending") { %>
    <div class="task-card">
      <h4><%-task.name%></h4>
      <h6>Priority: <%-task.priority%></h6>
      <h6>Status: <%-task.state%></h6>
      <p><%-task.description%></p>
      <a class="button-10" role="button" href="<%-`/task/details/${task._id}`%>"
        >Edit</a
      >
    </div>
    <%} %> <% }) %>
  </div>
  <% if (completedTasks > 0) { %>
  <h3>Completed tasks: <%=completedTasks%></h3>
  <% } %>

  <div class="task-container">
    <% taskList.forEach(task => { %> <% if (task.state === "done") { %>
    <div class="task-card">
      <h4><%-task.name%></h4>
      <h6>Priority: <%-task.priority%></h6>
      <h6>Status: <%-task.state%></h6>
      <p><%-task.description%></p>
      <a class="button-10" href="<%-`/task/details/${task._id}`%>">Edit</a>
    </div>
    <% } %> <% }) %>
  </div>

  <a href="/task/create" class="button-10">CREATE TASK</a>
</section>
