<div class="main-info">
    <h3>Task name: <%- currentTask.name %></h3>
    <h4>Description: <%- currentTask.description %></h4>
    <h5>Priority: <%- currentTask.priority %></h4>
    <h5>Status: <%- currentTask.state %></h4>
    <div class="edit-buttons">
        <a href=<%-`/task/delete/${currentTask._id}`%>><button class="button-10" >DELETE TASK</button> </a>
    <a href=<%-`/task/update/${currentTask._id}`%>><button class="button-10" >EDIT TASK</button></a>
    </div>
    
</div>
