<div class="main-info">
    <h1>Task details</h1>
    <h3><%- currentTask.name %></h3>
    <h4><%- currentTask.description %></h4>
    <h4><%- currentTask.priority %></h4>
    <h4><%- currentTask.state %></h4>
    <div class="edit-buttons">
        <a href=<%-`/task/delete/${currentTask._id}`%>><button class="button-10" >DELETE TASK</button> </a>
    <a href=<%-`/task/update/${currentTask._id}`%>><button class="button-10" >EDIT TASK</button></a>
    </div>
    
</div>
