<section class="main-info">
  <div class="search-form">
    <h1>List of tasks</h1>
    <form action="/task" method="post">
      <input type="text" name="search" />
      <button class="button-10" type="submit">Search</button>
    </form>
  </div>
  <% if (taskList.length-completedTasks > 0) { %>
  <h3>Pending tasks: <%=taskList.length-completedTasks%></h3>
  <% } %>
  <div class="task-container">
    <% taskList.forEach(task => { %> <% if (task.state === "pending") { %>
    <div class="task-card">
      <div>
        <h4><%-task.name%></h4>

        <p><%-task.description%></p>
        <h6 class="card-grey">Priority: <%-task.priority%></h6>
        <h6 class="card-grey">Status: <%-task.state%></h6>
      </div>
      <div class="card-bottom">
        <a class="button-10" href="<%-`/task/details/${task._id}`%>">Edit</a>
        <div class="card-logos">
          <% if (task.image) { %>
          <img
            class="small-logo"
            src="https://res.cloudinary.com/dnytjndvz/image/upload/v1683120370/277-2773517_instagram-png-white_gb1kjg.png"
            alt="picture logo"
          />
          <% } %> <% if (task.sharedWith) { %>
          <img
            class="small-logo"
            src="https://res.cloudinary.com/dnytjndvz/image/upload/v1683120375/pngaaa.com-4805936_d2eqe0.png"
            alt="picture logo"
          />
          <% } %>
        </div>
      </div>
    </div>
    <%} %> <% }) %>
  </div>
  <% if (completedTasks > 0) { %>
  <h3>Completed tasks: <%=completedTasks%></h3>
  <% } %>

  <div class="task-container">
    <% taskList.forEach(task => { %> <% if (task.state === "done") { %>
    <div class="task-card">
      <h4><%-task.name%></h4>

      <p><%-task.description%></p>
      <h6 class="card-grey">Priority: <%-task.priority%></h6>
      <h6 class="card-grey">Status: <%-task.state%></h6>
      <div class="card-bottom">
        <a class="button-10" href="<%-`/task/details/${task._id}`%>">Edit</a>
        <div class="card-logos">
          <% if (task.image) { %>
          <img
            class="small-logo"
            src="https://res.cloudinary.com/dnytjndvz/image/upload/v1683120370/277-2773517_instagram-png-white_gb1kjg.png"
            alt="picture logo"
          />
          <% } %> <% if (task.sharedWith) { %>
          <img
            class="small-logo"
            src="https://res.cloudinary.com/dnytjndvz/image/upload/v1683120375/pngaaa.com-4805936_d2eqe0.png"
            alt="picture logo"
          />
          <% } %>
        </div>
      </div>
    </div>
    <% } %> <% }) %>
  </div>

  <a href="/task/create" class="button-10">CREATE TASK</a>
</section>
